<h1>{{name}}</h1>

<dl>
    <td>Name:</td>
    <dd>{{name}}</dd>

    <td>Age:</td>
    <dd>{{age}}</dd>

    <td>Function:</td>
    <dd>{{getName()}}</dd>

    <td>Capitalized:</td>
    <dd>{{capitalizedName}}</dd>
</dl>

<button (click)="changeName()">
    Change Heroe
</button>

<button (click)="changeAge()">
    Change Age
</button>