<h1>Heroes list</h1>

<div *ngIf="deletedHeroe; else notDeleted">
    <h3>Deleted heroe: <small>{{deletedHeroe}}</small></h3>
</div>

<ng-template #notDeleted>
    <h3>Has not deleted anything</h3>
</ng-template>

<button (click) = "delete()">
    Delete
</button>

<ul>
    <li *ngFor="let heroe of heroes; let i = index"> 
        {{ i + 1 }} - {{ heroe }} 
    </li>
</ul>
